<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="sk">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<section>
    <header>
        <div class="col-md-6" style="float: left;">
            <img height="80" src="http://www.rules.sk/images/logo-dark_sk.png" alt="" />

            <div class="fields-box-text fields-box-only-text">
                <p style="font-weight: bold; margin-top: 35px" th:text="'Dodávateľ: ' + ${invoice.contact.name}"></p>
            </div> <!-- end .fields-box-text -->
        </div>
        <div class="clear"></div>
    </header>
</section> <!-- end .box -->
</html>
